* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v49_2 {
  width: 100%;
  
  background: rgba(240,244,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_4 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 145px;
  left: 24px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v61_32 {
  width: 959px;
  height: 748px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 24px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v61_33 {
  width: 214px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v49_6 {
  width: 959px;
  height: 443px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 24px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v53_2 {
  width: 272px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 279px;
  left: 72px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_4 {
  width: 60px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 404px;
  left: 72px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v55_11 {
  width: 143px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 508px;
  left: 72px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v60_17 {
  width: 514px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 421px;
  border: 1px solid rgba(80,79,79,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v60_18 {
  width: 514px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 494px;
  left: 421px;
  border: 1px solid rgba(80,79,79,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v55_10 {
  width: 110px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 404px;
  left: 442px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v60_19 {
  width: 110px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 508px;
  left: 442px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_157 {
  width: 209px;
  height: 55px;
  background: url("../images/v71_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 726px;
  overflow: hidden;
}
.v61_20 {
  width: 209px;
  height: 55px;
  background: #ea0d0d;
  opacity: 1;
 
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;  
   color: white;
   font-family: roberto;
   font-weight: bold;
   font-size: 24px;  
}
.v61_25 {
  width: 209px;
  height: 55px;
  background: rgba(99,195,0,1);
  opacity: 1;
 
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;  
   color: white;
   font-family: roberto;
   font-weight: bold;
   font-size: 24px;  
}
.v61_26 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 57px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_158 {
  width: 209px;
  height: 55px;
  background: url("../images/v71_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 501px;
  overflow: hidden;
}
.v65_69 {
  width: 209px;
  height: 55px;
  background: rgba(80,79,79,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  color: white;
   font-family: roberto;
   font-weight: bold;
   font-size: 24px;  
}
.v65_70 {
  width: 143px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 35px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_14 {
  width: 953px;
  height: 480px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1488px;
  left: 24px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  padding-top: 47px;
}
.v65_15 {
  width: 199px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v65_16 {
  width: 205px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_45 {
  width: 171px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1832px;
  left: 72px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_18 {
  width: 234px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_46 {
  width: 234px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1868px;
  left: 72px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_20 {
  width: 41px;
  color: rgba(80,79,79,1);
  margin-left: 630px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_47 {
  width: 41px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1868px;
  left: 891px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_22 {
  width: 180px;
  color: rgba(80,79,79,1);
  float: right;
  margin-right: 45px;
  padding-left: 7px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_48 {
  width: 128px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1904px;
  left: 807px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_43 {
  width: 180px;
  color: rgba(80,79,79,1);
  float: right;
  margin-right: 20px;
  padding-left: 7px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_49 {
  width: 128px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1904px;
  left: 646px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_44 {
  width: 7px;
  color: rgba(80,79,79,1);
  float: right;
  margin-right: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_50 {
  width: 7px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1904px;
  left: 787px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_26 {
  width: 99px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_51 {
  width: 99px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 1904px;
  left: 72px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v65_29 {
  width: 953px;
  background: url("../images/v65_29.png");
  opacity: 1;
  position: absolute;
  top: 1796px;
  left: 24px;
  border: 1px solid rgba(145,138,138,1);
}
.v71_135 {
  width: 959px;
  padding-top: 47px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  margin-top: 22px;
  margin-left: 24px;
  overflow: hidden;
}
.v71_136 {
  width: 959px;
  padding-top: 47px;
  padding-bottom: 47px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  margin-top: 698px;
  margin-left: 24px;
  overflow: hidden;
}
.v61_34 {
  width: 375px;
  color: rgba(80,79,79,1);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding-left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v61_35 {
  width: 320px;
  color: rgba(80,79,79,1);
 	margin-left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v61_57 {
  
  color: rgba(80,79,79,1);
  float: right;
  margin-right: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v61_58 {
  width: 128px;
  color: rgba(80,79,79,1);
  float: right;
  margin-right: 35px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v61_82 {
  width: 122px;
  color: rgba(80,79,79,1);
  
  margin-left: 50px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v61_36 {
  width: 246px;
  color: rgba(80,79,79,1);
  
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v61_83 {
  width: 514px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  float: right;
  margin-right: 10px;
  border: 1px solid rgba(80,79,79,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  padding-left: 10px;
}
.v61_84 {
  width: 110px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 162px;
  left: 418px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_62 {
  width: 209px;
  height: 55px;
  background: url("../images/v65_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  margin-left: 695px;
    margin-top: 43px;
  overflow: hidden;
}
.v61_47 {
  width: 209px;
  height: 55px;
  background: rgba(99,195,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v61_48 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 38px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_60 {
  width: 209px;
  height: 55px;
  background: url("../images/v65_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  margin-left: 470px;
    margin-top: -55px;
  overflow: hidden;
}
.v65_61 {
  float: right;
    margin-right: 55px;
    background-color: #1962ef;
        font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    color: white;
}
.v65_63 {
  width: 209px;
  height: 55px;
  background: url("../images/v65_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v61_59 {
  width: 209px;
  height: 55px;
  background: rgba(234,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v61_60 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 37px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_54 {
  width: 104px;
  height: 39px;
  background: url("../images/v65_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 799px;
  overflow: hidden;
}
.v65_52 {
  width: 104px;
  height: 39px;
  background: rgba(25,98,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v65_53 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 30px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_137 {
  width: 959px;
  height: 282px;
  background: url("../images/v71_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1150px;
  left: 24px;
  overflow: hidden;
}
.v71_138 {
  width: 375px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 36px;
  left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_139 {
  width: 320px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 72px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_140 {
  width: 108px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 72px;
  left: 800px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_141 {
  width: 128px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 108px;
  left: 783px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_142 {
  width: 122px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 162px;
  left: 50px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_143 {
  width: 246px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 108px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v71_145 {
  width: 514px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 397px;
  border: 1px solid rgba(80,79,79,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v71_146 {
  width: 110px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 162px;
  left: 418px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_147 {
  width: 209px;
  height: 55px;
  background: url("../images/v71_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 702px;
  overflow: hidden;
}
.v71_148 {
  width: 209px;
  height: 55px;
  background: rgba(99,195,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v71_149 {
  width: 134px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 38px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_150 {
  width: 209px;
  height: 55px;
  background: url("../images/v71_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 477px;
  overflow: hidden;
}
.v71_151 {
  width: 209px;
  height: 55px;
  background: url("../images/v71_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_152 {
  width: 209px;
  height: 55px;
  background: rgba(234,13,13,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v71_153 {
  width: 136px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 37px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_154 {
  width: 104px;
  height: 39px;
  background: url("../images/v71_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 799px;
  overflow: hidden;
}
.v71_155 {
  width: 104px;
  height: 39px;
  background: rgba(25,98,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v71_156 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 30px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_72 {
  width: 100%;
  height: 1024px;
  background: rgba(240,244,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_94 {
  width: 953px;
  height: 443px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 244px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v65_95 {
  width: 301px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  margin-top: 45px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v65_96 {
  width: 133px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_97 {
  width: 148px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v65_101 {
  width: 514px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  float: right;
  margin-right: 48px;
  border: 1px solid rgba(80,79,79,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v65_102 {
  width: 514px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  float: right;
  margin-right: 48px;
  border: 1px solid rgba(80,79,79,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v65_103 {
  width: 323px;
  color: rgba(234,13,13,1);
  position: absolute;
  top: 404px;
  left: 662px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_104 {
  width: 110px;
  color: rgba(80,79,79,1);
  position: absolute;
  top: 508px;
  left: 662px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_105 {
  width: 209px;
  height: 55px;
  background: rgba(99,195,0,1);
  opacity: 1;
  float: right;
  margin-right: 45px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  color: white;
}
.v71_164 {
  width: 209px;
  height: 55px;
  background: rgba(80,79,79,1);
  opacity: 1;
  float: right;
  margin-right: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  color: white;
}
.v65_107 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 611px;
  left: 1003px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_165 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 611px;
  left: 786px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v65_11{
	
    margin-top: 1535px;
    margin-left: 72px;
	
}

.v65_12{
	
   margin-top: 72px;

	
}
.modal-content{
	display: inline-block;
	width: 850px;
	padding-top: 45px;
	padding-bottom: 14px;
}
.v65_90{
	margin-top: 45px;
}

.v65_91 {
  width: 133px;
  color: rgba(80,79,79,1);
  margin-left: 48px;
  font-family: Roboto;
  
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_92 {
  
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  float: right;
  margin-right: 48px;
  
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v65_93 {
  width: 209px;
  height: 55px;
  background: red;
  opacity: 1;
  float: right;
  margin-right: 45px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  color: white;
}
.v61_30{
	margin-top: 35px;
}
.v61_21{
	margin-left: 705px;
    margin-top: 35px;
}